# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.db

# Private or local
butsd.code-workspace
.streamlit/secrets.toml

# Ne pas ignorer ces dossiers et fichiers essentiels
!.streamlit/
!.streamlit/config.toml
!.assets/
!.data/
!.data/parcoursup.json
!.assets/photo.jpg
!.assets/lettre_recommandation.jpg
